{% extends "base_auth.html" %}

{% load static %}

{% block content %}

<br><br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-title py-3">
                    <h4 class="text-center">Please Enter your Email to get reset link</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'request-password' %}" method="POST">
                        {% csrf_token %}
                        {% include 'partials/_message.html' %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control" id="emailField"
                                aria-describedby="emailHelp" placeholder="Enter email" value="{{values.email}}">
                        </div>
                        <br>
                        <button type="submit" style="display: block; width: 100%;"
                            class="btn btn-primary btn-sm btn-block submit-btn">Submit</button>
                    </form>
                    <!-- <div class="container">
                        <span class="text-lead lead">Already have an account? </span><a href="{% url 'login' %}">Register</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}