{% extends "base_auth.html" %}

{% load static %}

{% block content %}

<br><br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-title py-3">
                    <h4 class="text-center">Set New Password</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'reset-user-password' uidb64 token %}" method="POST">
                        {% csrf_token %}
                        {% include 'partials/_message.html' %}
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="passwordField"
                                placeholder="Password">
                            <small class="float-end py-3 showpasswordToggle" style="cursor: pointer;">SHOW</small>
                        </div><br>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" name="password2" class="form-control" id="passwordField"
                                placeholder="Confirm Password">
                            <!-- <small class="float-end py-3 showpasswordToggle" style="cursor: pointer;">SHOW</small> -->
                        </div>
                        <br>
                        <button type="submit" style="display: block; width: 100%;"
                            class="btn btn-primary btn-sm btn-block submit-btn">Submit</button>
                    </form>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="text-lead lead">Dont have an account? </span><a href="{% url 'register' %}">Register</a><br>
                            </div>
                            <div class="col-md-6">
                                <span class="text-lead lead">Already have an account? </span class="float-end"><a href="{% url 'login' %}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}