{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'userincome:income_list' %}">Income</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Income</li>
        </ol>
    </nav>
    <h2 class="text-center">Add Income </h2>


    <div class="card">
        <div class="card-body">
            {% include 'partials/_message.html' %}
            <form action="{% url 'userincome:add-income' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label">Amount</label>
                    <input type="number" value="{{values.amount}}" class="form-control" name="amount">
                </div>
                <div class="form-group">
                    <label class="form-label">Description</label>
                    <input type="text" value="{{values.description}}" class="form-control" name="description">
                </div>
                <div class="form-group">
                    <label class="form-label">Source</label>
                    <select name="source" class="form-control">
                        <option>Choose....</option>
                        {% for source in sources %}
                            <option name="source" value="{{source.name}}">{{source.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Date of Income</label>
                    <input type="date" class="form-control" name="income_date">
                </div><br>
                <input type="submit" value="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% endblock content %}